[submodule "sample/frc-docs"]
	path = sample/frc-docs
	url = git@github.com:wpilibsuite/frc-docs.git
[submodule "sample/SPARK-MAX-Examples"]
	path = sample/SPARK-MAX-Examples
	url = git@github.com:REVrobotics/SPARK-MAX-Examples.git
[submodule "sample/Color-Sensor-v3-Examples"]
	path = sample/Color-Sensor-v3-Examples
	url = git@github.com:REVrobotics/Color-Sensor-v3-Examples.git
[submodule "sample/allwpilib"]
	path = sample/allwpilib
	url = git@github.com:wpilibsuite/allwpilib.git
[submodule "sample/Phoenix-Examples-Languages"]
	path = sample/Phoenix-Examples-Languages
	url = git@github.com:CrossTheRoadElec/Phoenix-Examples-Languages.git
[submodule "learn/timed-robot-code"]
	path = learn/timed-robot-code
	url = git@github.com:6238/2020-robot-code.git
[submodule "learn/command-robot-code"]
	path = learn/command-robot-code
	url = git@github.com:6238/2020-command-robot-code.git
[submodule "learn/ishan/2020-command-robot"]
	path = learn/ishan/2020-command-robot
	url = git@github.com:stevejobs3768/2020-command-robot.git
