[Unit]
Description=iRaiders Vision Coprocessor
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3s
WorkingDirectory=/home/pi/vision
ExecStart=/home/pi/vision/start.sh
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
